{% extends "base_site.html" %}

{% block title %} Домашнаяя страница {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Численность ГРС на {{metrics['grs_hc_current']['report_date'].strftime('%d.%m')}}</span>
        <div class="count">{{ metrics['grs_hc_current']['value'] | int}}</div>
        <span class="count_bottom"><i>{{ metrics['grs_hc_previous']['value'] | int }}</i> - численность ГРС на {{metrics['grs_hc_previous']['report_period_end'].strftime('%d.%m')}}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Численность РЗ на {{metrics['rz_hc_current']['report_date'].strftime('%d.%m')}}</span>
        <div class="count">{{ metrics['rz_hc_current']['value'] | int}}</div>
        <span class="count_bottom"><i>{{ metrics['rz_hc_previous']['value'] | int }}</i> - численность РЗ на {{metrics['rz_hc_previous']['report_period_end'].strftime('%d.%m')}}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Численность Медкорп и ИнРос-Мед</span>
        <div class="count">{{ metrics['other_le_hc_current']['value'] | int}}</div>
        <span class="count_bottom"><i>{{ metrics['other_le_hc_previous']['value'] | int }}</i> - численность на {{metrics['other_le_hc_previous']['report_period_end'].strftime('%d.%m')}}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Уволено с {{metrics['exits_current']['report_period_start'].strftime('%d.%m')}} по {{metrics['exits_current']['report_period_end'].strftime('%d.%m')}}</span>
        <div class="count">{{ metrics['exits_current']['value'] | int}}</div>
        <span class="count_bottom"><i>{{ metrics['exits_previous']['value'] | int }}</i> уволено с {{metrics['exits_previous']['report_period_start'].strftime('%d.%m')}} по {{metrics['exits_previous']['report_period_end'].strftime('%d.%m')}} </span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Принято с {{metrics['hires_current']['report_period_start'].strftime('%d.%m')}} по {{metrics['hires_current']['report_period_end'].strftime('%d.%m')}}</span>
        <div class="count">{{ metrics['hires_current']['value'] | int}}</div>
        <span class="count_bottom"><i>{{ metrics['hires_previous']['value'] | int }}</i> принято с {{metrics['hires_previous']['report_period_start'].strftime('%d.%m')}} по {{metrics['hires_previous']['report_period_end'].strftime('%d.%m')}}</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> ФОТ на {{metrics['payroll_current']['report_period_start'].strftime('%B')}}</span>
        <div class="count">{{ "{0:+.01%}".format(metrics['payroll_current']['value'] | float)}}</div>
        <span class="count_bottom">Относительно бюджета</span>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Обновления HR Дашборда</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget">
                {% for post in posts %}
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>{{ post.title }}</a>
                                    </h2>
                      <div class="byline">
                        <span> {{ post.date.strftime('%B %d, %Y') }} </span>: <a>{{ post.author.username }}</a>
                      </div>
                      <p class="excerpt"> {{ post.text }}
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile">
          <div class="x_title">
            <h2>Планы доработки дашборда</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget">
                {% for feature in features %}
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>{{ feature.feature_name }}</a>
                                    </h2>
                      <div class="byline">
                        <span>Планируется реализовать: {{ feature.feature_planned_end.strftime('%B %d, %Y') }} </span>
                      </div>
                      <p class="excerpt"> {{ feature.feature_comment }}
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          </div>
        </div>
      </div>

    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
