<div class="left_col scroll-view">
  <div class="clearfix"></div>

    <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img href="/home" src="/static/images/ren_icon.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <h3> HR Dash </h3>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Меню</h3>
      <ul class="nav side-menu">

        <li><a href="/home"><i class="fa fa-home"></i> Главная <span></span></a></li>
        {% if current_user.is_authenticated and (current_user.accesses != [] or current_user.role_id != 4) %}
        <li><a><i class="fa fa-users"></i> Сотрудники <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashes/dash_fte">Динамика FTE</a></li>
            <li><a href="/dashes/dash_fteregions">FTE по регионам</a></li>
            <li><a href="/dashes/dash_turnover">Текучесть</a></li>

          </ul>
        </li>
          {% if is_admin %}
          <li><a><i class="fa fa-cog"></i> Настройки <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{{url_for('settings_blueprint.edit_users')}}">Пользователи и доступы</a></li>
              <li><a href="{{url_for('settings_blueprint.edit_refs')}}">Справочники</a></li>
              <li><a href="{{url_for('settings_blueprint.edit_posts')}}">Посты обновлений и планов</a></li>
            </ul>
          </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>